MYSQL_DATABASE=lab_booking
MYSQL_USER=lab_user
MYSQL_PASSWORD=lab_password_change_me
MYSQL_ROOT_PASSWORD=root_password_change_me
MYSQL_PORT=3306

REDIS_PORT=6379
ROCKETMQ_NAMESRV_PORT=9876
ROCKETMQ_BROKER_PORT=10911
BACKEND_PORT=8081

JWT_SECRET=replace-with-at-least-32-random-characters
RESOURCE_CACHE_ENABLED=true
